<p>Welcome <%= @resource.name %> to SolarCo!</p>

<p>I hope this could help you resetting your password <br> please follow the link below</p>

<p><%= link_to t('.password_change_link'), edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: 'https://solarco.herokuapp.com/login/forget-password'.to_s).html_safe %></p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>Thank you for visiting SolarCo.</p>